/*nav bar customisatio*/

.navbar{
    background-color: #156cea;
}
.navbar-light{
    color: white !important;
}
.nav-link{
    color: white !important;
    padding: 0 !important;
}
.nav-item{
    margin: 4px;
}
.navbar-toggler-icon{
    background-image: url(images/icon-pulldown.png) !important;
}

/* gives map structure*/
#map{
    width: 100%;
    height: 550px;
}
/* customise e-waste location marker */
.e-marker{
    background-image: url(images/e-waste-marker.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}
/*allow for entire popup table to fit into map*/
.mapboxgl-popup{
    min-width: 375px;
    font-size: 0.7em;
    
}
/* media query added to prevent overextension of table elements from json*/
@media only screen and (min-width: 767px){
    .mapboxgl-popup{
        min-width: 30%;
        font-size: 0.9em;
    }
}
/* page two customisation for e-waste info. */
#hero-image{
    height: 500px;
    background-image: url(images/ewaste-pic.jpg);
    background-size: cover;
    background-attachment: fixed;
}


#page-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#page-four{
    background-color: #728086;
    color: white;
}


